{% extends 'base.html.twig' %}

{% block title %}Nuevo producto{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                        <div>
                            <h4 class="mb-3">Nuevo producto</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    {{ include('product/_form.html.twig') }}
                    <a href="{{ path('app_product_index') }}">Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
